
<table class="table">
  <thead class="table-head">
    <tr>
      <th scope="col"></th>
      <th scope="col">Price</th>
      <th scope="col">Location</th>
      <th scope="col" class="record-shots">Shots</th>
      <th scope="col" class="record-score">Score</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let record of records; let i = index">
    <tr>
      <td class="record-cell table-cell">
        <div class="record-date">{{ record.dateCreated | date}} </div>
        <div class="record-type">{{ record.type }} </div>
        <div class="record-bean">{{ record.bean }} </div>
      </td>
      <td class="vertical-middle record-price table-cell">{{ record.price | currency}}</td>
      <td class="vertical-middle record-location table-cell">{{ record.location }}</td>
      <td class="vertical-middle record-shots table-cell">{{ record.noOfShots }}</td>
      <td class="vertical-middle record-score table-cell">{{ record.score }}</td>
      <td class="vertical-middle table-cell ">
        <button class="btn btn-danger form-button">
          <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-primary">
          <i class="bi bi-pen"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
