<form [formGroup]="addRecordForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="form-floating coffee-form-input">
    <input type="text" id="type" name="type" formControlName="type" class="form-control">
    <label for="type" class="form-label">Name </label>
    <p *ngIf="registerFormControl['type'].touched && registerFormControl['type'].errors">Name can't be empty</p>
  </div>
  <div class="form-floating">
    <input type="datetime-local" id="dateCreated" name="dateCreated" formControlName="dateCreated" class="form-control">
    <label for="dateCreated" class="form-label">Date </label>
    <p *ngIf="registerFormControl['dateCreated'].touched && registerFormControl['dateCreated'].errors">Date can't be
      empty</p>
  </div>
  <div class="form-floating">
    <input type="text" id="bean" name="bean" formControlName="bean" class="form-control">
    <label for="bean" class="form-label">Bean </label>
  </div>
  <div class="form-floating">
    <input type="text" id="location" name="location" formControlName="location" class="form-control">
    <label for="location" class="form-label">Location </label>
    <p *ngIf="registerFormControl['location'].touched && registerFormControl['location'].errors">Location can't be empty
    </p>
  </div>
  <div class="form-floating">
    <input type="number" id="price" name="price" formControlName="price" class="form-control">
    <label for="price" class="form-label">Price </label>
    <p *ngIf="registerFormControl['price'].touched && registerFormControl['price'].value < 0">Price can't be negative
    </p>
  </div>
  <div class="form-floating">
    <input type="number" id="score" name="score" formControlName="score" class="form-control">
    <label for="score" class="form-label">Score </label>
  </div>
  <div class="form-floating">
    <input type="number" id="noOfShots" name="noOfShots" formControlName="noOfShots" class="form-control">
    <label for="price" class="form-label">Shots </label>
    <div *ngIf="registerFormControl['noOfShots'].touched && registerFormControl['noOfShots'].errors">
      <p *ngIf="registerFormControl['noOfShots'].touched && registerFormControl['noOfShots'].errors['required']">Shots
        can't be empty</p>
      <p *ngIf="registerFormControl['noOfShots'].touched && registerFormControl['noOfShots'].value < 0">Shots can't be
        negative</p>
    </div>
  </div>
  <p>
    <button type="submit" class="btn btn-success add-record-button">{{ submitButton }}</button>
  </p>
</form>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayPopup}">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bg">
      <div class="modal-body">
        <div class="row justify-content-center main-wrapper">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">

          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 modal-message">
            <h4 class="delete-result-modal">{{resultPopupMessage}}</h4>
            <button type="button" class="btn btn-primary button-cancel" (click)="closePopup()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

